[user]
	name = m-tremains
	email = m-tremains@onu.edu
[core]
	autocrlf = true
	excludesfile = C:\\Users\\mtremains\\Documents\\gitignore_global.txt
[gui]
	recentrepo = C:/Users/mtremains/Source/Repos/mhe-quotes
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[difftool "sourcetree"]
	cmd = 'C:/Program Files/KDiff3/kdiff3.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = 'C:/Program Files/KDiff3/kdiff3.exe' \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
